.banner {
    background: url(../img/freelancer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 646px;
    padding: 75px 0 0 0;
    text-align: center;
}

.banner h2 {
    color: #404f54;
    font-family: "Lora";
    font-size: 52px;
    font-weight: 700;
    text-transform: capitalize;
}

.banner p {
    color: #404f54;
    font-family: "Open Sans";
    font-size: 21px;
    font-weight: 400;
}

.input-banner {
    background: #ffffff;
    border: none;
    border-radius: 30px;
    filter: drop-shadow(0px 5px 5px rgba(0,22,27,0.3));
    height: 62px;
    margin-left: 9rem;
    width: 730px;
}

.btn-find {
    background: #d02184;
    border: none;
    border-radius: 26px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    height: 52px;
    width: 130px;
    position: relative;
    right: 8.8rem;
}