header {
    display: flex;
    justify-content: flex-start;
    height: 6.25rem;
    padding: 0 15.313rem;
    width: 69.375rem;
}

header h1 a{
    align-items: center;
    background-color: #1baba1;
    color: #ffffff;
    display: flex;
    font-size: 1.75rem;
    font-family: "Lora";
    font-weight: 700;
    height: 3.438rem;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    width: 3.25rem;
}

header nav {
    margin: 2.625rem 0 0 0;
}

/* nav:nth-child(2n+0) {
    width: 34rem;
}

nav:nth-child(2n+1) {
    width: 22 rem;
} */

.list-header {
    display: flex;
    margin: 0;
}

.list-header li {
    list-style-type: none;
}

.list-header li a {
    color: #404f54;
    font-family: "Open Sans";
    font-size: 0.875rem;
    font-weight: 400;
    margin: 0 1.875rem 0 0;
    text-decoration: none;
    text-transform: uppercase;
    width: 3.313rem;
}

#post-job {
    background: #ffffff;
    border: 0.125rem solid #b2b9ba;
    border-radius: 1.188rem;
    color:#b2b9ba;
    font-family: "Open Sans";
    font-size: 0.875rem;
    font-weight: 700;
    padding: 0.75rem 1.563rem;
    text-transform: uppercase;
}









.header-banner {
    background: url(../img/background.jpg);
    background-size: cover;
    text-align: center;
    height: 130vh;
}

.header-banner div {
    margin: 20px  0 0 0;
}

.header-banner h1 {
    color: #404f54;
    font-size: 52px;
    font-weight: 700;
    font-family: "Lora";
}

.header-banner p {
    color: #404f54;
    font-size: 14px;
    font-weight: 400;
    font-family: "Open Sans";
}

.header-banner input {
    border: none;
    border-radius: 22px;
    box-shadow: 5px 5px 10px -2px rgba(0,0,0,0.73);
    padding: 0.8rem 12rem;
    text-align: left;
}

.header-banner button {
    background: #d02184;
    border: none;
    border-radius: 22px;
    bottom: 10rem;
    color: #ffffff;
    padding: 9px 35px;
    position: absolute;
    right: 23rem;
}

.text-group {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 6rem 0;
}

.text-group h3 {
    color: #404f54;
    font-size: 26px;
    font-weight: 700;
    font-family: "Lora";
}

.text-group span {
    margin-left: 2rem;
}

.text-group-title {
    color: #1baba1;
    font-size: 21px;
    font-weight: 700;
    font-family: "Lora";
    text-align: left;
}
.sub-text {
    color: #404f54;
    font-weight: 400;
    font-family: "Open Sans";
    font-size: 16px;
    height: 40px;
    line-height: 24px;
    width: 255px;
}
