header {
    display: flex;
    justify-content: space-around;
}

.list-header {
    display: flex;
    align-items: center;
}

.logo-fr {
    background:#1baba1;
    color: #ffffff;
    padding: 1rem;
}

.list-header li {
    color: #404f54;
    font-size: 14px;
    font-weight: 700;
    font-family: "Open Sans";
    list-style-type: none;
    margin: 0 2.5rem 0 0;
}

.post-job {
    border: 1px solid #000000;
    border-radius: 12px;
    padding: 3px 7px;
}

.header-banner {
    text-align: center;
}

.header-banner h1 {
    color: #404f54;
    font-size: 52px;
    font-weight: 700;
    font-family: "Lora";
}

.header-banner p {
    color: #404f54;
    font-size: 14px;
    font-weight: 400;
    font-family: "Open Sans";
}

.header-banner input {
    border: none;
    border-radius: 22px;
    box-shadow: 5px 5px 10px -2px rgba(0,0,0,0.73);
    padding: 0.8rem 12rem;
    text-align: left;
}

.header-banner button {
    background: #d02184;
    border: none;
    border-radius: 22px;
    bottom: 10rem;
    color: #ffffff;
    padding: 9px 35px;
    position: absolute;
    right: 23rem;
}